<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FindAraziMoawinFranchisee</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/Home/Index.css" />
</head>
<body style="background-image: url('/images/BG.jpg'); background-repeat:repeat; background-size:cover; margin-left: 40px; margin-right: 40px; margin-top: 10px; margin-bottom:10px;">
    <div class="row">
        <div class="col-md-6">
            <img src="/images/PLRA Logo 1.png" style="width:100px; height:90px" />
            <h1 style="color:white; font-size:52px">Find Authorized Arazi Muawin in Your Tehsil.</h1>
            <p style="color:white; font-size:22px">Easily locate authorized Arazi Moawins in your area.<br />Select your tehsil to get instant guidance and on-the-spot support for your land-related services.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="search-bar">
                <div class="col-md-3">
                    <select id="districtDropdown" class="borderless-select">
                        <option value="clear">Select District</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="tehsilDropdown" class="borderless-select">
                        <option value="clear">Select Tehsil</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input id="nameSearchInput" type="text" class="form-control" placeholder="Search by Arazi Moawin Name" oninput="filterCardsByName()" />
                </div>

                @* <button class="btn btn-success" onclick="searchOffices()">Search</button> *@
            </div>
        </div>
    </div>

    <div id="franchiseeCardsContainer" class="row mt-4" style="display: none; font-family: 'Jameel Noori Nastaleeq'"></div>
    <div id="cardCountSummary" class="text-center mb-2" style="display: none; color:white"></div>
    <nav>
        <ul id="cardPagination" class="pagination justify-content-center mt-3"></ul>
    </nav>

    <div class="modal fade" id="franchiseeModal" tabindex="-1" aria-labelledby="franchiseeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="franchiseeModalLabel">Franchisee Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyContent"></div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Home/Index.js"></script>
</body>
</html>
